
html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Helvetica-Neue', 'Archivo Narrow', Helvetica, sans-serif;
}


.quote {
    max-width: 767px;
    width: 100%;
    height: 450px;
    margin: 0 auto;
    background-color: #000026;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h3 {
        flex-basis: 100%;
        
    }
    div {
        color: white;
        font-size: 7rem;
    }
    .l{
        position: relative;
        left: -60px;
    }
    .i {
        position: relative;
        top: 0px;
        left: -25px;
    }
    .f {
        position: relative;
        top: 0px;
        right: -25px;
    }
    .e {
        position: relative;
        right: -60px;
    }
    @include mediaMd {
        max-width: $max-width-tablet;
    }
    @include mediaLg {
        max-width: $max-width-desktop;
    }
    h3 {
        font-size: 1.4rem;
        color: $brand-color;
        letter-spacing: 4.69px;
        margin-bottom: 50px;
        text-transform: uppercase;
        text-align: center;
        padding-top: 50px;
    }
}

.landmark-building {
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    background-color: $base-color;
    @include mediaMd {
        max-width: $max-width-tablet;
    }
    @include mediaLg {
        max-width: $max-width-desktop;
        display: flex;
        justify-content: center;
        .render-image-wrapper {
            max-width: 650px;
        }
    }

    .content {
        max-width: 767px;
        width: 100%;
        padding: 70px 25px 70px 25px;
        background-color: $base-color;
        .landmark-title-wrapper {
            text-align: center;
            margin-bottom: 30px;
        }
        .link {
            margin: 0 auto;
            text-align: center;
            color: $brand-color;
            text-transform: uppercase;
            letter-spacing: 2.29px;
        }
        .subtitle {
            font-size: 1.4rem;
            color: $brand-color;
            letter-spacing: 4.69px;
            text-transform: uppercase;
            text-align: center;
        }
        @include mediaMd {
            max-width: $max-width-tablet;
        }
        @include mediaLg {
            max-width: 375px;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            .subtitle {
                width: 375px;
            }
        } 
    }
}


.content-discover {
    background-color: $base-color;
    max-width: 767px;
    width: 100%;
    margin: 0 auto;
    @include mediaMd {
        max-width: $max-width-tablet;
    }

    @include mediaLg {
        max-width: $max-width-desktop;
        padding-left: 10%;
        .render-image-wrapper {
            max-width: 750px;
        }
    }
    
    .render-image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
       
        .content-wrapper {
            position: absolute;
            max-width: 300px;
            @include mediaMd {
                
                
            }
            @include mediaLg {
                position: static;
                
            }
            
            .subtitle {
                font-size: 1rem;
                color: $brand-color;
                letter-spacing: 4.69px;
                text-transform: uppercase;
                text-align: center;
                @include mediaLg {
                    font-size: 1.4rem;
                }
        }
            .title {
                font-size: 2rem;
                text-align: center;
                letter-spacing: .9px;
                color: white;
                margin-bottom: 30px;
                @include mediaLg {
                    font-size: 3.7rem;
                }
        }
            button {
                background: transparent;
                border-color: $brand-color;
                border-width: thin;
                padding: 15px 30px 15px 30px;
               
                color: $brand-color;
                margin: 0 auto;
                @include mediaLg {
                    border: none;
                }
                
        }
    }
    }  
}